Repository ifuddd/AEM-Visual-Library: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-build.yml, .azure-pipelines/frontend-build.yml

Path conditions:
  .azure-pipelines/backend-build.yml: any of: backend, shared
  .azure-pipelines/frontend-build.yml: any of: frontend, shared

Add TipTap rich text editor and variants management (Phases 6-8)
  frontend/package.json
  frontend/src/components/detail/AuthoringTab.tsx
  frontend/src/components/detail/HistoryTab.tsx
  frontend/src/components/detail/ImplementationTab.tsx
  frontend/src/components/detail/VariantsSection.tsx
  package-lock.json
Due: .azure-pipelines/frontend-build.yml

Fix TipTap imports to use named exports
  frontend/src/components/detail/AuthoringTab.tsx
  package-lock.json
Due: .azure-pipelines/frontend-build.yml

Add Docker deployment configuration
  .dockerignore
  DEPLOYMENT.md
  Dockerfile.backend
  Dockerfile.frontend
  docker-compose.yml
  frontend/next.config.js
Due: .azure-pipelines/frontend-build.yml

Fix Docker configurations for production deployment
  Dockerfile.backend
  Dockerfile.frontend
Due: none

Fix Figma CSP error and image loading issues
  frontend/next.config.js
  frontend/src/components/detail/DesignerTab.tsx
  frontend/src/components/detail/PreviewTab.tsx
  frontend/src/lib/figmaUtils.ts
Due: .azure-pipelines/frontend-build.yml

Fix TypeScript build error in Figma embed handling
  frontend/src/components/detail/DesignerTab.tsx
  frontend/src/lib/figmaUtils.ts
Due: .azure-pipelines/frontend-build.yml

Add designSpecsNotes field to data model
  backend/src/data/mockComponents.ts
  frontend/src/data/mockComponents.ts
  shared/src/types/component.ts
Due: .azure-pipelines/backend-build.yml, .azure-pipelines/frontend-build.yml

Create reusable components for tab restructure
  frontend/src/components/detail/CollapsibleSection.tsx
  frontend/src/components/detail/EmptyState.tsx
  frontend/src/components/detail/RichTextEditor.tsx
  frontend/src/components/detail/ThumbnailUpload.tsx
Due: .azure-pipelines/frontend-build.yml

Create new tab components for restructured detail page
  frontend/src/components/detail/DesignSpecsTab.tsx
  frontend/src/components/detail/OverviewTab.tsx
  frontend/src/components/detail/UsageGuideTab.tsx
Due: .azure-pipelines/frontend-build.yml

Add comprehensive progress documentation
  PROGRESS.md
Due: none

Wire new tabs to detail page - Phase 4 complete
  frontend/src/app/component/[slug]/page.tsx
  frontend/src/components/detail/ComponentTabs.tsx
Due: .azure-pipelines/frontend-build.yml

Complete tab restructure: Add thumbnail upload and remove old tabs
  frontend/src/app/api/components/slug/[slug]/route.ts
  frontend/src/app/api/upload/thumbnail/route.ts
  frontend/src/app/component/[slug]/page.tsx
  frontend/src/components/ComponentCreateModal.tsx
  frontend/src/components/detail/AuthoringTab.tsx
  frontend/src/components/detail/DesignerTab.tsx
  frontend/src/components/detail/PreviewTab.tsx
Due: .azure-pipelines/frontend-build.yml

Update PROGRESS.md: Mark all phases complete
  PROGRESS.md
Due: none

Professional portal improvements: Remove emojis, simplify tabs, reorganize
  frontend/package.json
  frontend/public/animations/README.md
  frontend/src/app/component/[slug]/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/LottieAnimation.tsx
  frontend/src/components/detail/CollapsibleSection.tsx
  frontend/src/components/detail/ComponentTabs.tsx
  frontend/src/components/detail/DesignSpecsTab.tsx
  frontend/src/components/detail/OverviewTab.tsx
  frontend/src/components/detail/RichTextEditor.tsx
  frontend/src/components/detail/ThumbnailUpload.tsx
  frontend/src/components/detail/UsageGuideTab.tsx
  package-lock.json
Due: .azure-pipelines/frontend-build.yml

Add files via upload
  frontend/public/animations/success.json
Due: .azure-pipelines/frontend-build.yml

Add Lottie success animation to save button
  frontend/src/app/component/[slug]/page.tsx
  frontend/src/components/LottieAnimation.tsx
Due: .azure-pipelines/frontend-build.yml

UX improvements: Remove owner team tags, improve ADO tickets
  frontend/src/components/catalog/ComponentCard.tsx
  frontend/src/components/catalog/ComponentListItem.tsx
  frontend/src/components/detail/OverviewTab.tsx
Due: .azure-pipelines/frontend-build.yml

Remove Owner Team field from component creation modal
  frontend/src/components/ComponentCreateModal.tsx
Due: .azure-pipelines/frontend-build.yml

Remove owner team from filters and detail page, fix thumbnail display
  backend/src/data/mockComponents.ts
  frontend/src/app/api/placeholder/[size]/route.ts
  frontend/src/app/component/[slug]/page.tsx
  frontend/src/components/catalog/FilterPanel.tsx
Due: .azure-pipelines/backend-build.yml, .azure-pipelines/frontend-build.yml

Update frontend mockComponents files with local placeholder URLs
  frontend/src/data/mockComponents.ts
  frontend/src/lib/mockComponents.ts
Due: .azure-pipelines/frontend-build.yml

Enhance Usage Guide tab for DXO authors
  frontend/src/app/component/[slug]/page.tsx
  frontend/src/components/detail/ComponentTabs.tsx
  frontend/src/components/detail/UsageGuideTab.tsx
Due: .azure-pipelines/frontend-build.yml

Make Usage Guide tab fully editable
  frontend/src/app/api/components/slug/[slug]/route.ts
  frontend/src/app/component/[slug]/page.tsx
  frontend/src/components/detail/ComponentTabs.tsx
  frontend/src/components/detail/DialogSchemaEditor.tsx
  frontend/src/components/detail/LimitationsEditor.tsx
  frontend/src/components/detail/UsageGuideTab.tsx
Due: .azure-pipelines/frontend-build.yml

Remove Dialog Schema Editor and make styling options fully editable
  frontend/src/app/component/[slug]/page.tsx
  frontend/src/components/detail/ComponentTabs.tsx
  frontend/src/components/detail/DialogSchemaEditor.tsx
  frontend/src/components/detail/UsageGuideTab.tsx
Due: .azure-pipelines/frontend-build.yml

Update .env.example to use frontend API routes
  frontend/.env.example
Due: .azure-pipelines/frontend-build.yml

Fix thumbnail image display with unified ComponentImage component
  frontend/next.config.js
  frontend/src/components/catalog/ComponentCard.tsx
  frontend/src/components/catalog/ComponentListItem.tsx
  frontend/src/components/common/ComponentImage.tsx
  frontend/src/components/detail/ThumbnailUpload.tsx
  frontend/src/components/detail/VariantsSection.tsx
Due: .azure-pipelines/frontend-build.yml

Fix thumbnail upload to use local file storage
  .gitignore
  frontend/src/app/api/upload/thumbnail/route.ts
Due: .azure-pipelines/frontend-build.yml

Fix .gitignore to properly ignore frontend uploads directory
  .gitignore
Due: none

Add state image matrix support to reflect design system template
  frontend/src/components/detail/StateImageMatrix.tsx
  frontend/src/components/detail/VariantsSection.tsx
  frontend/src/data/mockComponents.ts
  shared/src/types/component.ts
Due: .azure-pipelines/backend-build.yml, .azure-pipelines/frontend-build.yml

Make Usage Guide tab fully editable with limitations and dialog schema editors
  frontend/src/app/component/[slug]/page.tsx
  frontend/src/components/detail/ComponentTabs.tsx
  frontend/src/components/detail/DialogSchemaEditor.tsx
  frontend/src/components/detail/UsageGuideTab.tsx
Due: .azure-pipelines/frontend-build.yml

Update progress.md with current session summary
  progress.md
Due: none

Add state image upload editing to variant editor
  frontend/src/components/detail/VariantsSection.tsx
Due: .azure-pipelines/frontend-build.yml

Security audit fixes and code quality improvements
  frontend/next.config.js
  frontend/src/app/api/components/route.ts
  frontend/src/app/api/components/slug/[slug]/route.ts
  frontend/src/app/api/health/route.ts
  frontend/src/app/api/placeholder/[size]/route.ts
  frontend/src/app/api/upload/thumbnail/route.ts
  frontend/src/app/component/[slug]/page.tsx
  frontend/src/components/detail/DialogSchemaEditor.tsx
  frontend/src/components/detail/LimitationsEditor.tsx
  frontend/src/components/detail/RichTextEditor.tsx
  frontend/src/components/detail/ThumbnailUpload.tsx
  frontend/src/components/detail/VariantsSection.tsx
  frontend/src/data/mockComponents.ts
Due: .azure-pipelines/frontend-build.yml

Fix thumbnail not showing after upload
  frontend/src/app/api/upload/thumbnail/route.ts
  frontend/src/components/common/ComponentImage.tsx
Due: .azure-pipelines/frontend-build.yml

Fix images not showing on catalog and detail pages
  frontend/src/components/common/ComponentImage.tsx
  frontend/src/data/mockComponents.ts
Due: .azure-pipelines/frontend-build.yml

Fix thumbnail upload 500 on Vercel — store base64 directly
  frontend/src/app/component/[slug]/page.tsx
Due: .azure-pipelines/frontend-build.yml

Update next-env.d.ts docs URL (auto-generated by Next.js)
  frontend/next-env.d.ts
Due: .azure-pipelines/frontend-build.yml

Restructure Design Specs & Usage Guide tabs with structured docs layout
  frontend/src/app/component/[slug]/page.tsx
  frontend/src/components/detail/ComponentPropertiesTable.tsx
  frontend/src/components/detail/ComponentTabs.tsx
  frontend/src/components/detail/DesignSpecsTab.tsx
  frontend/src/components/detail/InteractionStatesMatrix.tsx
  frontend/src/components/detail/UsageGuideTab.tsx
  frontend/src/components/detail/VariantsSection.tsx
  shared/src/types/component.ts
Due: .azure-pipelines/backend-build.yml, .azure-pipelines/frontend-build.yml

Fix duplicate dialogSchema prop in ComponentTabs JSX call
  frontend/src/app/component/[slug]/page.tsx
Due: .azure-pipelines/frontend-build.yml

Unify Component Variants with Interaction States layout in Usage Guide tab
  frontend/src/components/detail/StateImageMatrix.tsx
  frontend/src/components/detail/UsageGuideTab.tsx
  frontend/src/components/detail/VariantsSection.tsx
Due: .azure-pipelines/frontend-build.yml

Redesign Component Variants to accordion layout, rename section
  frontend/src/components/detail/UsageGuideTab.tsx
  frontend/src/components/detail/VariantsSection.tsx
Due: .azure-pipelines/frontend-build.yml
