Repository ifuddd/AEM-Visual-Library: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/backend-build.yml, .azure-pipelines/frontend-build.yml

.azure-pipelines/backend-build.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build and Test
    jobs:
    - job: BuildBackend
      displayName: Build Backend API
      steps:
      - task: NodeTool@0
        displayName: Use Node.js $(nodeVersion)
        inputs:
          versionSpec: $(nodeVersion)
  ...

.azure-pipelines/frontend-build.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build Frontend
    jobs:
    - job: BuildFrontend
      displayName: Build Next.js App
      steps:
      - task: NodeTool@0
        displayName: Use Node.js $(nodeVersion)
        inputs:
          versionSpec: $(nodeVersion)
  ...

chore: update frontend dependencies and remove example env file
  backend/prisma/migrations/20251122192409_initial_migration/migration.sql
  backend/prisma/migrations/migration_lock.toml
  frontend/.env.example
  frontend/next-env.d.ts
  frontend/package.json
  frontend/src/app/globals.css
  package-lock.json
  sync-service/local.settings.json
  sync-service/package.json
Due: .azure-pipelines/backend-build.yml, .azure-pipelines/frontend-build.yml

feat: add example components, Figma integration analysis, and comprehensive guides
  EXAMPLE_COMPONENTS_GUIDE.md
  FIGMA_INTEGRATION_ANALYSIS.md
  REPOSITORY_OVERVIEW.md
  backend/package.json
  backend/prisma/seed.ts
  docs/example-wiki-pages/CTA-Button.md
  docs/example-wiki-pages/Card.md
  docs/example-wiki-pages/Hero-Banner.md
  docs/example-wiki-pages/README.md
Due: .azure-pipelines/backend-build.yml

feat: add development authentication bypass for local testing
  DEPLOYMENT_NOTES.md
  backend/src/middleware/auth.ts
Due: .azure-pipelines/backend-build.yml

feat: add development mode authentication bypass
  backend/src/middleware/auth.ts
Due: .azure-pipelines/backend-build.yml

feat: add 3 enterprise-grade AEM component templates
  ADVANCED_COMPONENTS.md
  backend/prisma/add-advanced-components.ts
  backend/prisma/seed.ts
Due: .azure-pipelines/backend-build.yml

docs: add comprehensive setup guide and testing checklist
  QUICK_SETUP.md
  TESTING_CHECKLIST.md
Due: none

feat: add alternative database seeding methods
  backend/seed-direct.js
  backend/seed.sql
Due: .azure-pipelines/backend-build.yml

docs: add simple seed execution guide
  RUN_SEED_NOW.md
Due: none

fix: resolve ChunkLoadError by adding frontend dev mode bypass
  frontend/src/components/Providers.tsx
Due: .azure-pipelines/frontend-build.yml

docs: add comprehensive ChunkLoadError fix documentation
  CHUNKERROR_FIX.md
Due: none

fix: improve database seeding with better error handling and automation
  backend/seed-direct.js
  backend/setup.bat
  backend/setup.sh
Due: .azure-pipelines/backend-build.yml

docs: add comprehensive testing guide for Mac setup and verification
  TEST_NOW.md
Due: none

fix: remove invalid Azure Functions Core Tools npm dependency
  backend/setup.bat
  backend/setup.sh
  sync-service/AZURE_SETUP.md
  sync-service/package.json
Due: .azure-pipelines/backend-build.yml

docs: update testing guide with npm dependency fix information
  TEST_NOW.md
Due: none

chore: update dependencies and add Prisma seed script
  backend/package.json
  backend/prisma/seed.ts
  package-lock.json
Due: .azure-pipelines/backend-build.yml

docs: add seed.ts instructions and troubleshooting guide
  SEED_INSTRUCTIONS.md
Due: none

docs: add comprehensive progress report and development status
  progress.md
Due: none

docs: add complete Mac startup guide with step-by-step instructions
  START_ON_MAC.md
Due: none

feat: add automated Mac setup script
  RUN_THIS_ON_YOUR_MAC.sh
Due: none

chore: add package-lock.json from npm install
  package-lock.json
Due: none

Add prototype mode with mock data and auto-start script
  auto-start.sh
  backend/src/data/mockComponents.ts
  backend/src/middleware/auth.ts
  backend/src/routes/admin.routes.ts
  backend/src/routes/components.routes.ts
  backend/src/routes/contributions.routes.ts
  backend/src/services/component.service.mock.ts
  backend/src/services/contribution.service.mock.ts
Due: .azure-pipelines/backend-build.yml

Add next-env.d.ts to gitignore
  .gitignore
Due: none

Fix frontend CSS compilation errors
  frontend/src/app/globals.css
  frontend/tailwind.config.ts
Due: .azure-pipelines/frontend-build.yml

Prepare for Vercel deployment - Frontend only with API routes
  .env.production
  VERCEL_DEPLOYMENT.md
  frontend/.env.production
  frontend/src/app/api/components/[slug]/route.ts
  frontend/src/app/api/components/route.ts
  frontend/src/app/api/health/route.ts
  frontend/src/data/mockComponents.ts
  package.json
  vercel.json
Due: .azure-pipelines/frontend-build.yml

Fix Vercel deployment configuration for monorepo
  frontend/vercel.json
  package.json
  vercel.json
Due: .azure-pipelines/frontend-build.yml

Fix Next.js build error - remove invalid rewrite
  frontend/next.config.js
Due: .azure-pipelines/frontend-build.yml

Clean homepage UI and fix catalog API connection error
  frontend/src/app/page.tsx
  frontend/src/lib/api.ts
Due: .azure-pipelines/frontend-build.yml

Fix component detail page error - transform lastUpdate object
  backend/src/services/component.service.mock.ts
Due: .azure-pipelines/backend-build.yml

Fix component detail pages - all issues resolved
  frontend/next.config.js
  frontend/src/app/component/[slug]/page.tsx
Due: .azure-pipelines/frontend-build.yml

Update production env config with deployment notes
  frontend/.env.production
Due: .azure-pipelines/frontend-build.yml

Add deployment checklist and instructions
  DEPLOYMENT_CHECKLIST.md
Due: none

Add Next.js API routes for standalone Vercel deployment
  frontend/.env.production
  frontend/src/app/api/components/[slug]/route.ts
  frontend/src/app/api/components/route.ts
  frontend/src/app/api/components/slug/[slug]/route.ts
  frontend/src/app/api/components/tags/route.ts
  frontend/src/app/api/components/teams/route.ts
  frontend/src/lib/mockComponents.ts
Due: .azure-pipelines/frontend-build.yml

Update deployment checklist - Next.js API routes ready
  DEPLOYMENT_CHECKLIST.md
Due: none

Complete progress report - Vercel deployment ready
  progress.md
Due: none

Add list/grid view toggle to catalog page
  frontend/src/app/catalog/page.tsx
  frontend/src/components/catalog/ComponentListItem.tsx
  frontend/src/components/catalog/ViewToggle.tsx
  frontend/src/lib/hooks.ts
Due: .azure-pipelines/frontend-build.yml

Update progress.md with list/grid view toggle feature
  progress.md
Due: none

Redesign catalog page with simplified data model
  backend/prisma/schema.prisma
  backend/src/data/mockComponents.ts
  frontend/src/app/component/[slug]/page.tsx
  frontend/src/components/catalog/ComponentCard.tsx
  frontend/src/components/catalog/ComponentListItem.tsx
  frontend/src/components/catalog/FilterPanel.tsx
  frontend/src/data/mockComponents.ts
  shared/src/types/component.ts
Due: .azure-pipelines/backend-build.yml, .azure-pipelines/frontend-build.yml

Update progress.md with catalog redesign summary
  progress.md
Due: none

Add component editing data model and creation flow
  backend/prisma/schema.prisma
  backend/src/data/mockComponents.ts
  frontend/src/app/api/components/route.ts
  frontend/src/app/api/components/slug/[slug]/route.ts
  frontend/src/app/catalog/page.tsx
  frontend/src/components/ComponentCreateModal.tsx
  frontend/src/data/mockComponents.ts
  shared/src/types/component.ts
Due: .azure-pipelines/backend-build.yml, .azure-pipelines/frontend-build.yml

Implement editable component detail page (Phases 3-5)
  frontend/src/app/component/[slug]/page.tsx
  frontend/src/components/detail/ComponentTabs.tsx
  frontend/src/components/detail/DesignerTab.tsx
  frontend/src/components/detail/PreviewTab.tsx
Due: .azure-pipelines/frontend-build.yml

Path conditions:
  .azure-pipelines/backend-build.yml: any of: backend, shared
  .azure-pipelines/frontend-build.yml: any of: frontend, shared
